/* VARIABLES */


:root {
    --c-dark: #1b2938;
    --c-brand: #6c1f9e;
    --c-band-light: #800068;
    --c-brand-rgb: 78, 87, 212;
    --c-body: #020202;
    --font-base: sans-serif;
    --box-shadow: 0px 15px 25px rgba(7, 0, 0, 0.08);
    --transition: all 0.5s ease;
}
.nav{
    background-color: #000000;
}
body{
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);
}

h1, h2, h3, h4, h5, h6,
.h1 .h2 .h3 .h4 .h5 .h6 {
    font-weight: 600;
    color: var(--c-dark);
}

a{
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover{
    color: var(--c-band-light);
}

img{
    max-width: 100%;
    height: auto;
}

.section-padding{
    padding-top: 100px;
    padding-bottom: 60px;
}

.theme-shadow{
    box-shadow: var(--box-shadow);
}

/* IMAGE ZOOM */

.image-zoom{
    position: relative;
    overflow: hidden;
}

.image-zoom-wrapper{
    overflow: hidden;
    position: relative;
}

.image-zoom-wrapper img{
    transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img{
    transform: scale(1.1);
}

/* NAVBAR */
.navbar {
    background-color: #f7f3f3;
    box-shadow: rgb(233, 233, 233);
  }
  
  .navbar-nav .nav-link {
    font-weight: 500;
    color: rgb(241, 228, 228);
  }
  
  .navbar-nav .nav-link:active {
    color: rgb(241, 237, 237);
  }
  


 /* button */

 .btn{
    position: relative;
    /* display: inline-block; */
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 10px 30px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--c-brand);
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid var(--c-brand);
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 var(--c-brand);
 }

.btn-brand{
    background-color: var(--c-brand);
    border-color: var(--c-brand);
    color: white;
    border-radius: 15px;
}

.btn:hover{
    color: white;
    box-shadow: inset 0 -100px 0 0 var(--c-brand);
}


.button {
    position: relative;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 10px 30px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--c-brand);
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid var(--c-brand);
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 var(--c-brand);
  }
  
  .button:hover {
    color: rgb(255, 251, 251);
    box-shadow: inset 0 -100px 0 0 var(--c-brand);
  }

/* HERO SECTION  */

#hero {
    /* background: linear-gradient(rgba(0, 0, 0, 0.448), rgba(0, 0, 0, 0.554)); */
    background-size: cover;
    position: relative;
    z-index: -1;
  }
  
  #hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

/* SECTION TITLE */

.section-title{
    margin-bottom: 30px;
}

.section-title .line{
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/* ICONBOX */

.iconbox{
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--c-brand), 0.1);
    color: var(--c-brand);
    font-size: 34px;
    flex: none;
}

/* COUNTER */

#counter{
    background: linear-gradient(rgba(var(--c-brand-rgb),0.8), rgba(var(--c-brand-rgb),0.8)), url(../images/counter.jpg);
    background-position: center;
    background-size: cover;
}



/* FEATURED GAMES */

.cards {
 background: #161616;
 position: relative;
 transition: 0.5s ease-out;
 overflow: visible;
 border: 5px solid var(--c-brand);
}

.cards img {
    z-index: -2;
}

.cards-details {
 color: rgb(5, 5, 5);
 height: 50%;
 display: grid;
 place-content: center;
}

.cards-button {
 transform: translate(-50%, 125%);
 width: 60%;
 border-radius: 1rem;
 border: none;
 background-color: var(--c-brand);
 color: #000000;
 font-size: 1rem;
 padding: .5rem 1rem; 
 position: absolute;
 left: 50%;
 bottom: 0;
 opacity: 0;
 transition: 0.3s ease-out;
}

.cards:hover .cards-button {
 transform: translate(-50%, 50%);
 opacity: 1;
}



/* overlay */

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #131212;
    text-align: center;
    padding-top: 40%;
    background-color: rgba(241, 235, 235, 0.5);
	}

/* BLOG POST */
.blog-post-content{
    
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.blog-post img{
    opacity: 1;
}

/* FOOTER */

footer{
    padding-top: 100px;
}

.footer-top{
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(2, 2, 2, 0.08);
}
.footer-bottom{
    padding-top: 40px;
    padding-bottom: 40px;
}
footer li,
footer p,
footer a {
    color: rgba(5, 5, 5, 0.7);
}

footer ul{
    list-style: none;
    padding: 0;
}

footer .line{
    width: 40px;
    height: 4px;
    background-color: var(--c-brand);
    margin-top: 12px;
    margin-bottom: 24px;
}

.social-icons a{
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 100px;
}
.social-icons a:hover{
    background-color: var(--c-brand);
    color: rgb(17, 17, 17);
}



/* LOG IN AND SIGN UP PAGE */

.login-form{
    border-radius: 25px;
    background: #726d6d;
    box-shadow:  20px 20px 60px #bebebe,
                 -20px -20px 60px #635f5f;
}

.signup-card{
margin-top: 100px;
margin-bottom: 150px;
}

/* FEATURED GAMES PAGE */

.tournament-hero{
    height: 50vh;
}

#hero-2{
    background: linear-gradient(rgba(0, 0, 0, 0.448), rgba(250, 248, 248, 0.554)), url(../images/hero-2.jpg);
    background-position: center;
    background-size: cover;
} 

.main-tournament-padding{
    padding-top: 50px;
}

/* EVENT PAGE */
.event-hero{
    height: 65vh;
}
#hero-3{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/hero-3.jpg);
    background-position: center;
    background-size: cover;
}

.reg-card{
/* From https://css.glass */
background: rgba(0, 0, 0, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
border: 1px solid rgba(15, 15, 15, 0.99);
}


